<!DOCTYPE html>
<html>
<head>
    <title>課題共有システム</title>
</head>

<table border="2" bordercolor="#808080">
    <tr>
    <th bgcolor="#CBFFD3"><font color="#000000">教科名 </font></th>
    <th bgcolor="#CBFFD3" width="500"><font color="#000000">課題名</font></th>
    <th bgcolor="#CBFFD3" width="500"><font color="#000000">期限</font></th>
    <th bgcolor="#CBFFD3" width="500"><font color="#000000">ファイル</font></th>
    <th bgcolor="#CBFFD3" width="500"><font color="#000000">解答</font></th>
    </tr>
    <tr>
    <td bgcolor="#FFFFFF" align="right" nowrap>オペレーティング・システム</td>
    <td bgcolor="#FFFFFF" valign="top" width="500">第一回授業</td>
    <td bgcolor="#FFFFFF" valign="top" width="500">2020/4/10</td>
    <td bgcolor="#FFFFFF" valign="top" width="500"></td>
    <td bgcolor="#FFFFFF" valign="top" width="500"></td>
    </tr>
    </table>


</body>
</html>